*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* inicio container instagram-wrapper */
.instagram-wrapper{
    display: flex;
    align-items: center; /* Alinhamento vertical dos itens */
    justify-content: start; /* Alinhamento horizontal dos itens */ /* o strat inicia da esquerda para direita */
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;    
}
/* fim container instagram-wrapper */


/* Inicio container instagram-continue */
.instagram-continue {
    display: flex;
    align-items: center; /* passou a ser horizontal com o flex direction column */
    justify-content: space-around; /* passou a ser vertical com o flex direction column */
    flex-direction: column; /* muda o eixo para coluna */
    width: 50%; /* mesmo tamanho que o container instagram-phone */
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between; /* vertical */
    align-items: center; /* horizontal */
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){ /* seleciona o filho do elemento com base no número entre parenteses */
    min-height: 19rem; /* altura mínima */    
} 

.instagram-logo{
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* para que a imagem não exceda o tamanho da div, ou seja, escondido */

}

.profile-photo img{
    height: 6rem;
    width: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: center; /*espaço igual nos lados e meio */
    align-items: center; /* row por padrão */
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
    margin-right: 4px;
}

.app-download:nth-child(1) {
   background-image: url(img/apple-button.png); 
}

.app-download:nth-child(2){
    background-image: url(img/googleplay-button.png);
}

/* media queries */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){

    body{
        background-color: #ffffff;        
    }    

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{ /* remove a imagem do telefone para logins em celulares */
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group{
        border: 1px solid transparent;
    }
}

@media (max-width: 350px){
    .download{
        flex-direction: column;
        justify-content: center;
        margin: 10px 0 10px 0;
    }

    .app-download{
        margin-bottom: 5px;
    }
}

